<main>
    <section class="container-homepage">
        <div class="text-homepage">
            <h2>O banco da esperança</h2>
            <span>Buscamos facilidade para nossos clientes com <br> transparencia visando moderninade e
                atualidade</span>
            <br>
            <br>
            <a href="./html/servicos.html"><span>Nossos Serviços</span></a>
        </div>
        <div class="container-img-homepage">
            <img src="./img/Piggy bank-amico.png" class="img-homepage" height="500px" width="500px">
        </div>
    </section>

    <section>
        <div class="box-fundo-cards-homepage">
            <div class="textos-cards-homepage">
                <h2>A Hope faz seus sonhos virarem realidade</h2>
                <span>Através de nossos serviços conseguimos ajudar os jovens a planejar e construir suas
                    carreiras</span>
            </div>
            <div class="container-cards">
                <div class="card1">
                    <p align="center"><img src="./img/Banknote-amico.png" class="img-card1"></p>
                    <div class="conteudo-card1">
                        <h3 align="center">Chame a sua turma</h3>
                        <div class="texto-card1">
                            <p>Chame seus amigos para abrir uma conta na HB e ganhe cupons de descontos com nossos
                                parceiros</p>
                        </div>
                    </div>
                </div>

                <div class="card2">
                    <p align="center"><img src="./img/Cartao-Modelo.png" class="img-card2"></p>
                    <div class="conteudo-card2">
                        <h3 align="center">Cartão Sem Tarifas e Anuidades</h3>
                        <div class="texto-card2">
                            <p>Um Banco Digital Com Mais Esperança e Menos Cobranças</p>
                        </div>
                    </div>
                </div>

                <div class="card3">
                    <p align="center"><img src="./img/Finance app-amico.png" class="img-card3"></p>
                    <div class="conteudo-card3">
                        <h3 align="center">Hope Invest</h3>
                        <div class="texto-card3">
                            <p>Uma equipe especializada de analistas de Ações que irão te deixar mais próximo da sua
                                liberdade financeira</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-btn">
        <a href="./html/index1.html"><span>Quero Ser Um Hopper Agora</span></a>
    </div>
    <br>

    <section class="vantagens-parcerias">
        <div class="box-fundo-vantagens-parcerias">
            <div class="textos-vantagens-parcerias">
                <div class="texto-titulo-vantagens-parcerias">
                    <p>Mimos feitos para você</p>
                    <span>Descontos e benefícios que <br> combinam com você</span>
                </div>
                <div class="container-logo-parceiros">
                    <div class="aslapp">
                        <img src="./img/Logo Aslapp.png" height="78px" width="100px">
                        <p>Aslapp</p>
                        <span>Descontos na assinatura mensal e anual</span>
                    </div>

                    <div class="ios">
                        <img src="./img/Logo IOS.png" height="80px" wibdth="80px">
                        <p>IOS</p>
                        <span>Prioridade de acesso à vagas de cursos</span>
                    </div>

                    <div class="spotify">
                        <img src="./img/spotify.png" height="80px" width="80px">
                        <p>Spotify</p>
                        <span>Desconto na assinatura do plano premium</span>
                    </div>

                    <div class="uber">
                        <img src="./img/uber.png" height="80px" width="80px">
                        <p>Uber</p>
                        <span>Descontos em corridas pelo apicativo</span>
                    </div>
                </div>
            </div>
            <div class="img-lateral">
                <img src="./img/Together-pana.png">
            </div>
        </div>
    </section>
    <br>
</main>